flask==2.3.3
flask-cors==4.0.0
flask-socketio==5.3.6
pyyaml==6.0.1
paramiko==3.3.1
jinja2==3.1.2
werkzeug==2.3.7
# User authentication and database dependencies
flask-sqlalchemy==3.0.5
flask-login==0.6.3
flask-migrate==4.0.5
pyjwt==2.8.0
bcrypt==4.0.1
python-dotenv==1.0.0 